@charset "utf-8";

/* CSS Document */

html {
height: 100%;
} 
body {
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0093dd;
}

#wrapper1 {
	z-index: 0;
	position: relative;
	width: 100%;
	background-color: #ffffff;
}
#background_top {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 300px;
}
#wrapper2 {
	z-index: 2;
	position: relative;
	width: 1003px;
	top: 0px;
	left: 50%;
	margin-left: -501px;
}
#wrapper3 {
	z-index: 1;
	position: relative;
	width: 927px;
	left: 38px;
	top: 0px;
	background-image: url(images/menu_bar.jpg);
	background-repeat: repeat-y;
	background-position: left;
}
#top {
position: relative; 
width: 927px; 
height: 92px; 
top: 0px; 
left: 0px; 
background: url(images/top_menu.jpg) top center no-repeat;
}
#top_menu_links {
	position: absolute;
	width: 927px;
	margin-top: 0px;
	text-align: center;
	color: #ffffff;
}
#content_wrapper {
position: relative; 
overflow: auto; 
margin-top: 163px; 
background: url(images/box_middle.jpg) 251px 0px repeat-y;
}
#side_menu {
	position: relative;
	float: left;
	width: 180px;
	padding-left: 35px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-top: 20px;
}
#content_wrapper2 {
position: relative; float: right; 
width: 676px; 
min-height: 350px;
}
#content {
	z-index: 3;
	position: relative;
	width: 560px;
	margin-bottom: 0px;
	background-color: #ffffff;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 60px;
}
#content_box_top {
position: absolute; 
width: 676px; 
height: 120px; 
top: 0px; 
background: url(images/box_top.jpg) top center no-repeat;
}
#main_image {
z-index: -1; 
position: absolute; 
width: 927px; 
height: 163px; 
top: 92px; 
left: 0px; 
background: url(images/main_image.jpg) top center;
}
#left_shadow {
	position: absolute;
	width: 38px;
	height: 624px;
	left: 0px;
	top: 0px;
	background-position: center top;
}
#right_shadow {
	position: absolute;
	width: 38px;
	height: 624px;
	right: 0px;
	top: 0px;
	background-position: center top;
}
#bottom_stripe {
	position: relative;
	width: 100%;
	height: 131px;
	top: 0px;
	background-repeat: repeat-x;
	background-position: center top;
}
#content_box_bottom_wrapper {
z-index: 1; 
position: relative; 
width: 1003px; 
top: 0px; 
left: 50%; 
margin-left: -501px;
}
#content_box_bottom {
z-index: 2; 
position: absolute; 
width: 676px; 
height: 38px; 
left: 289px; 
top: 0px;
background: url(images/box_bottom.jpg) top center;
}
#content_bottom {
}
#footer {
	position: relative;
	width: 850px;
	left: 50%;
	margin-left: -300px;
	padding-bottom: 30px;
	text-align: center;
	color: #878787;
	margin-top: -95px;
}

a:link {
	color: #929292;
	text-decoration: none;
}
a:visited {
	color: #929292;
	text-decoration: none;
}
a:hover {
	color: #929292;
	text-decoration: none;
}
a:active {
	color: #929292;
	text-decoration: none;
}


/* OSC CSS */

#pageIcon {
display: none;
}
h1 {
text-align: center;
font-size: 18px;
}
h6 {
font-size: 14px;
}
div.boxTitle {
margin-top: 5px; 
margin-bottom: 5px;
font-size: 14px;
font-weight: bold;
}

/* CMSMS CSS */

.activeparent {
list-style-type: none;
}
li.currentpage{
list-style-type: none;
}
h3.menulinks{
margin-top: 5px; 
margin-bottom: 5px;
font-size: 14px;
}
span.menulinks{
display: inline; 
line-height: 25px; 
font-size: 14px; 
font-weight: bold;
}
li.active0n h3 {
list-style-type: none;
}
li.menulinks {
margin-left: 0px;
list-style-type: none;
}
ul {
margin-left: 0; padding-left: 0;
list-style-type:none; 
}
.clearfix {
list-style-type: none;
}
li.sectionheader h3 {
list-style-type: none;
}
li.separator {
list-style-type: none;
}